.jumbo{
   color: black;
  text-align: center;
  background-color: white;
}
container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
form{
  height: 700px;
  border: 1px solid black;
  padding: 20px 20px 20px 20px ;
}


